{% extends 'layout.jinja' %}
{% block title %}Homepage{% endblock %}
{% block content %}
    <p>This website has a list of some video game sales.</p>
    <p>Use ones of the links in the navbar to see the list of games for that brand.</p>
{% endblock %}
