{% extends 'layout.jinja' %}
{% block title %}Game Sales{% endblock %}
{% block content %}
    <section>
        <form action="/game-sales" method="get">
            <label for="game-searhbox">
                Search games:
                <input type="search"
                       name="search-text"
                       id="game-searhbox"
                       placeholder="Enter game name"
                       value="{{ query }}">
            </label>
            <div class="form-control-row">
                {% if search == True %}<a href="/game-sales">Clear Search</a>{% endif %}
                <button type="submit">Search</button>
            </div>
        </form>
        {% if games|length > 0 %}
            <label for="change-layout-dropdown">
                Game sales layout mode:
                <select id="change-layout-dropdown" value="table">
                    <option value="table">
                        Table
                    </option>
                    <option value="grid">
                        Grid
                    </option>
                </select>
            </label>
            <label for="change-game-filter-dropdown">
                Show game platforms:
                <select name="brand" id="change-game-filter-dropdown" value="all">
                    <option value="all">
                        All
                    </option>
                    <option value="pc">
                        PC
                    </option>
                    <option value="ps">
                        Play Station
                    </option>
                    <option value="xbox">
                        XBox
                    </option>
                    <option value="nintendo">
                        Nintendo
                    </option>
                    <option value="atari">
                        Atari
                    </option>
                </select>
            </label>
            <div id="double-scroll-wrapper">
                <div id="games-data-wrapper" data-double-scroll>
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <button type="button" id="sort-title" class="table-sort-button">Game</button>
                                </th>
                                <th>
                                    <button type="button" id="sort-genre" class="table-sort-button">Genre</button>
                                </th>
                                <th>
                                    <button type="button" id="sort-platform" class="table-sort-button">Platform</button>
                                </th>
                                <th>
                                    <button type="button" id="sort-publisher" class="table-sort-button">Publisher</button>
                                </th>
                                <th>
                                    <button type="button"
                                            id="sort-sales-global"
                                            title="globaly, in millions"
                                            class="table-sort-button">Sales</button>
                                </th>
                                <th>
                                    <button type="button"
                                            id="sort-year"
                                            class="table-sort-button"
                                            data-sort-direction="down">Year</button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for game in games %}
                                <tr>
                                    <td>
                                        <p>{{ game.title }}</p>
                                    </td>
                                    <td>
                                        <p>{{ game.genre }}</p>
                                    </td>
                                    <td>
                                        <p>{{ game.platform }}</p>
                                    </td>
                                    <td>
                                        <p>{{ game.publisher }}</p>
                                    </td>
                                    <td>
                                        <p>{{ game.sales }}</p>
                                    </td>
                                    <td>
                                        <p>{{ game.year }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <script>const gamesData = {{ games }};</script>
            <script src="/static/game-sales-script.js"></script>
        {% else %}
            <div id="games-data-wrapper">
                <p>No games found for search query.</p>
            </div>
        {% endif %}
    </section>
{% endblock %}
