{% extends 'layout.jinja' %}
{% block title %}Homepage{% endblock %}
{% block content %}
    <p>This website has a list of some cricket bowler statistcs.</p>
    <p>
        Use one of the links in the navbar to see a list of players from that country.
        If you don't see the country you're looking for, go to the all players page and use the country filter dropdown.
    </p>
    <p>Use the search bar to search for a player.</p>
    <p>Use the filter dropdown to filter the list of players by country.</p>
    <p>Use the layout dropdown to switch between the table and grid layouts.</p>
    <p>
        You can click the column headers to sort the list by that column. Clicking once sorts downwards.
        Clicking again sorts upwards. Clicking a third time removes the sorting.
    </p>
{% endblock %}
