{% extends 'layout.jinja' %}
{% block title %}Homepage{% endblock %}
{% block content %}
    <p>This website has a list of some cricket bowler statistcs.</p>
    <p>
        Use one of the links in the navbar to see a list of players from that country.
        If you don't see the country you're looking for, go to the all players page and use the country filter dropdown.
    </p>
{% endblock %}
