{% extends 'layout.jinja' %}
{% block title %}Homepage{% endblock %}
{% block content %}
    <p>This website has a list of some cricket bowler statistcs.</p>
    <uL class="cool-homepage-list">
        <li>
            Use one of the <span class="attention">links</span> in the <span class="attention">navbar</span> to see a list of players from that country.
            If you don't see the country you're looking for, go to the <span class="attention">all countries</span> page and use the country filter dropdown.
        </li>
        <li>
            Use the search bar to <span class="attention">search</span> for a <span class="attention">player</span>.
        </li>
        <li>
            Use the filter <span class="attention">dropdown</span> to filter the list of players by country.
        </li>
        <li>
            Use the layout dropdown to switch between the <span class="attention">table</span> and <span class="attention">grid</span> layouts.
        </li>
        <li>
            You can click the column headers to <span class="attention">sort</span> the list by that column. Clicking once sorts downwards.
            Clicking again sorts upwards. <span class="attention">Clicking</span> a third time removes the sorting.
        </li>
    </ul>
{% endblock %}
