<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}{% endblock %}
        - Zade's website</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='cool-styles.css') }}"/>
    </head>
    <body>
        <header>
            <h1>{{ self.title() }}</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/cricket-stats">All Countries</a>
                <a href="/cricket-stats?country=SCOT">Scotland</a>
                <a href="/cricket-stats?country=AUS">Australia</a>
                <a href="/cricket-stats?country=IND">India</a>
                <a href="/cricket-stats?country=NZ">New Zealand</a>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
