{% extends 'layout.jinja' %}
{% block title %}HTML &amp; CSS Tags{% endblock %}
{% block content %}
    <p>Here is Sir's table of HTML tags and CSS properties.</p>
    <section>
        <form action="/html-tags" method="get">
            <label for="tag-searhbox">
                Search tags:
                <input type="search"
                       name="search-text"
                       id="tag-searhbox"
                       placeholder="Enter tag name"
                       value="{{ query }}">
            </label>
            <div class="form-control-row">
                {% if search == True %}<a href="/html-tags">Clear Search</a>{% endif %}
                <button type="submit">Search</button>
            </div>
        </form>
        {% if tags|length > 0 %}
            <label for="change-layout-dropdown">
                Tags data layout mode:
                <select name="change-layout-dropdown"
                        id="change-layout-dropdown"
                        value="table">
                    <option value="table">
                        Table
                    </option>
                    <option value="grid">
                        Grid
                    </option>
                </select>
            </label>
            <label for="change-tag-filter-dropdown">
                Show tag types:
                <select name="change-tag-filter-dropdown"
                        id="change-tag-filter-dropdown"
                        value="all">
                    <option value="all">
                        All
                    </option>
                    <option value="html">
                        HTML Only
                    </option>
                    <option value="css">
                        CSS Only
                    </option>
                </select>
            </label>
            <div id="tags-data-wrapper">
                <table>
                    <caption>HTML Tags and CSS properties</caption>
                    <thead>
                        <tr>
                            <th>
                                <button type="button" id="sort-type">Type</button>
                            </th>
                            <th>
                                <button type="button" id="sort-tag">Tag</button>
                            </th>
                            <th>
                                <button type="button" id="sort-description">Description</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tag in tags %}
                            <tr>
                                <td>
                                    <p>{{ tag.type }}</p>
                                </td>
                                <td>
                                    <code>
                                        {{ tag.tag }}
                                    </code>
                                </td>
                                <td>
                                    <p>{{ tag.description }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <script>const tagsData = {{ tags }};</script>
            <script src="/static/tag-data-script.js"></script>
        {% else %}
            <p>No tags found for search query.</p>
        {% endif %}
    </section>
{% endblock %}
