{% extends 'layout.jinja' %}
{% block title %}HTML &amp; CSS Tags{% endblock %}
{% block content %}
    <p>Here is Sir's table of HTML tags and CSS properties.</p>
    <p>
        Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Molestias incidunt, sint nobis eligendi temporibus
        numquam minus quos illum autem sed suscipit, ad facilis explicabo vel et minima
        tempora. Odio, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Officia, eos. Rem iusto nemo optio facere, eveniet beatae eius corrupti officiis
        consequuntur voluptatum necessitatibus saepe ex minus magnam! Dignissimos, magni
        harum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque vitae
        voluptatem nisi, voluptate tempore odio corrupti. Quos porro, illo maiores
        temporibus quaerat dolores provident eaque earum, voluptates harum
        exercitationem totam. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Consequatur beatae magnam eum eligendi accusamus aliquam modi natus id, quo ex
        atque voluptas laborum explicabo harum porro blanditiis ullam ipsum optio. Lorem
        ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <form action="/html-tags" method="get">
        <label for="tag-searhbox">
            Search tags:
            <input type="search"
                   name="search-text"
                   id="tag-searhbox"
                   placeholder="Enter tag name"
                   value="{{ query }}">
        </label>
        <div class="form-control-row">
            {% if search == True %}<a href="/html-tags">Clear Search</a>{% endif %}
            <button role="submit">Search</button>
        </div>
    </form>
    {% if tags|length > 0 %}
        <table>
            <caption>HTML Tags and CSS properties</caption>
            <thead>
                <tr>
                    <th>Language</th>
                    <th>Tag</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for tag in tags %}
                    <tr>
                        <td>
                            <p>{{ tag.type }}</p>
                        </td>
                        <td>
                            <code>
                                {{ tag.tag }}
                            </code>
                        </td>
                        <td>
                            <p>{{ tag.description }}</p>
                        </td>
                        {#
                        <td>
                            <a href="{{ url_for('tags.edit', id=tag.id) }}">Edit</a>
                            <a href="{{ url_for('tags.delete', id=tag.id) }}">Delete</a>
                        </td>
                        #}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No tags found for search query.</p>
    {% endif %}
{% endblock %}
