{% extends 'layout.jinja' %}
{% block title %}Homepage{% endblock %}
{% block content %}
    <p>This website has a list of some HTML tags and CSS properties picked out by Mr Benseman.</p>
    <p>
        Use the link in the navbar that says <strong>HTML Tags</strong> to see the list of tags.
    </p>
{% endblock %}
