/* Variables */
:root {
	/* Roundness (border-radius) */
	--rounded-xs: 4px;
	--rounded-sm: 6px;
	--rounded-md: 8px;
	--rounded-lg: 12px;
	--rounded-xl: 16px;
	--rounded-2xl: 32px;
	--rounded-full: 99999999999px;

	/* Layout sizing scale */
	--size-xs: 4px;
	--size-sm: 8px;
	--size-md: 12px;
	--size-lg: 16px;
	--size-xl: 24px;
	--size-2xl: 32px;
	--size-3xl: 48px;
	--size-4xl: 64px;
	--size-5xl: 96px;
	--size-6xl: 128px;
	--size-7xl: 192px;
	--size-8xl: 256px;
	--size-9xl: 384px;
	--size-10xl: 512px;
	--size-11xl: 640px;
	--size-12xl: 768px;

	/* Text sizing scale */
	--text-xs: 12px;
	--text-sm: 14px;
	--text-md: 16px;
	--text-lg: 18px;
	--text-xl: 20px;
	--text-2xl: 24px;
	--text-3xl: 30px;
	--text-4xl: 36px;
	--text-5xl: 48px;
	--text-6xl: 60px;
	--text-7xl: 72px;

	/* Colours */
	/* Neuteral slate grey. */
	--neuteral-100: #F9FAFA;
	--neuteral-200: #F1F3F8;
	--neuteral-300: #C6CAD4;
	--neuteral-400: #A6ABB6;
	--neuteral-500: #7D8493;
	--neuteral-600: #5D626D;
	--neuteral-700: #3F444F;
	--neuteral-800: #343841;
	--neuteral-900: #282B31;
	/* Primary lavender  */
	--primary-100: #F0F0FD;
	--primary-200: #DBDBFF;
	--primary-300: #BDBCF7;
	--primary-400: #9D9CEF;
	--primary-500: #6967E5;
	--primary-600: #4845E6;
	--primary-700: #2E18BB;
	--primary-800: #3316AA;
	--primary-900: #240779;
	/* Attention-grabbing fuchsia  */
	--attention-100: #FCEDF2;
	--attention-200: #FBC9DB;
	--attention-300: #FBA4C3;
	--attention-400: #F3709F;
	--attention-500: #FF2272;
	--attention-600: #E50053;
	--attention-700: #BC0245;
	--attention-800: #900034;
	--attention-900: #720C31;
	/* Destruvtive orangey-red */
	--destructive-100: #FEE8E7;
	--destructive-200: #FBB8B4;
	--destructive-300: #F98C85;
	--destructive-400: #F55C52;
	--destructive-500: #F82E21;
	--destructive-600: #DA180C;
	--destructive-700: #A2170E;
	--destructive-800: #820800;
	--destructive-900: #640A05;
	/* Warning brownish-orange */
	--warning-100: #FEF0E1;
	--warning-200: #FAD2A3;
	--warning-300: #F8B76B;
	--warning-400: #F49E3A;
	--warning-500: #F78B0C;
	--warning-600: #E7820C;
	--warning-700: #CF750C;
	--warning-800: #AC5E02;
	--warning-900: #794300;
	/* Positive lime */
	--positive-100: #F5FDEE;
	--positive-200: #D7F4BF;
	--positive-300: #BCF58A;
	--positive-400: #9FF45C;
	--positive-500: #7CDC30;
	--positive-600: #61C313;
	--positive-700: #57A917;
	--positive-800: #3C770C;
	--positive-900: #234E01;
}

/* Size/layout resets*/
* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
	font-family: -apple-system, "Segoe UI", Roboto, Noto Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: normal;
	font-size: var(--text-md);
	/* Tell browser that the site supports light and dark mode */
	color-scheme: light dark;
	/* Make form elements use theme colours */
	accent-color: var(--primary-500);
}


/* Base page layout */
html {
	max-width: 100vw;
	min-height: 100vh;
}

html,
body {
	background-color: var(--neuteral-100);
	color: var(--neuteral-900);
}

body {
	/* 100% of viewport width or --size-12xl, whichever is smaller */
	width: min(100%, var(--size-12xl));
	padding: var(--size-sm);
}

/* CSS variables don't work in media queries yet :( */
@media screen and (min-width: 768px) {
	body {
		/* Center body horizontally */
		margin: 0 auto;

	}

}

@media screen and (prefers-color-scheme: dark) {

	html,
	body {
		background-color: var(--neuteral-900);
		color: var(--neuteral-100);
	}
}


header {
	width: auto;
	/* Stick to top of viewport when scrolling */
	position: sticky;
	/* Lay out children horisontaly */
	display: flex;
	/* Wrap content on small screens */
	flex-wrap: wrap;
	border-radius: var(--rounded-lg);
	padding: var(--size-md);
	background-color: var(--neuteral-200);
}

h1 {
	font-weight: bold;
	letter-spacing: 0.1em;
	color: var(--primary-900);
	font-size: var(--text-lg);
}

nav {
	margin-left: auto;
}

nav>a {
	color: var(--neuteral-800);
	text-decoration: none;
	padding: var(--size-sm);
	border-radius: var(--rounded-xs);
	border: 1px solid transparent;
}

nav>a:hover {
	border-color: var(--neuteral-300);
}

nav>a:focus-visible {
	border-color: var(--attention-500);
}

nav>a:focus {
	outline: none
}

nav>a:active {
	background-color: var(--neuteral-300);
}

@media screen and (min-width: 768px) {
	header {
		border-radius: var(--rounded-lg);
		margin: 0;
		margin-top: var(--size-lg);
		padding: var(--size-lg);

	}

}

@media screen and (prefers-color-scheme: dark) {
	header {
		background-color: var(--neuteral-800);
	}

	h1 {
		color: var(--primary-200)
	}

	nav>a {
		color: var(--neuteral-200)
	}

	nav>a:hover {
		border-color: var(--neuteral-600);
	}

	nav>a:active {
		background-color: var(--neuteral-600);
	}
}